<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        .error { color: red; }
    </style>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error}" class="error">
    Invalid username or password.
</div>
<div th:if="${param.logout}" class="error">
    You have been logged out.
</div>
<div th:if="${param.expired}" class="error">
    Session expired, please login again.
</div>

<!--这是spring security的默认登录接口，"post /login {username password}"，使用这个接口才会进到配置的CustomUserDetailsService去验证用户名密码-->
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>